@import "tailwindcss";

@theme {
    --color-primary: #F28C6B;
    --color-secondary: #F4D06F;
    --color-tertiary: #A8D5BA;
    --color-background: #FFF7E6;
    --color-color-text: #2F4F4F;
    --border: rgba(242, 140, 107, 0.2);
    --color-muted-foreground: #6B7280;
    --color-muted: #F9F2E7;
    --color-background-muted: #ffffffcc;
    --color-primary-30: #F28C6B4D;
    --color-destructive: #EF4444;
}

@layer base {
    body {
        @apply font-serif tracking-wide;
    }
    
    h1 {
        @apply text-primary md:text-4xl text-3xl;
    }

    h2 {
        @apply text-primary text-2xl;
    }

    h3 {
        @apply text-xs text-primary;
    }

    p {
        @apply text-xs text-muted-foreground ;
    }
}

html {
  scrollbar-gutter: stable;
}

.border-primary {
    border: 1px solid var(--color-primary)
}

.border-primary-30 {
    border: 1px solid var(--color-primary-30)
}

.border-secondary {
    border: 1px solid var(--color-secondary)
}

.border-tertiary {
    border: 1px solid var(--color-tertiary)
}

.gradient {
  background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 50%, var(--color-tertiary) 100%);
}
